.box {
    background-color: #fff;
    width: 400px;
    min-height: 60px;
    padding: 20px 30px;
    margin: 10px;
    -webkit-box-shadow: -2px 4px 53px -7px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: -2px 4px 53px -7px rgba(0, 0, 0, 0.56);
    box-shadow: -2px 4px 53px -7px rgba(0, 0, 0, 0.56);
    position: relative;

    

    @media (max-width:768px) {
        width: 100%;
        padding: 5px 30px;
    }

    &--center {
        margin-left: auto;
        margin-right: auto;
    }

    &--medium {
        width: 600px;

        @media (max-width:768px) {
            width: 100%;

        }


    }

    &--login {
        margin-top: 60px;
    }

    &--large {
        width: 100%;

        @media (max-width:768px) {
            width: 100%;

        }
    }

    &--employe-list {
        display: flex;
        flex-wrap: wrap;
    }

    &--half-border-bottom {
        padding-bottom: 10px;
        position: relative;

        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            width: 75%;
            left: 12.5%;
            border-top: 1px solid #d6d6d6;
        }
    }

    &--half-border-top {
        padding-top: 10px;
        position: relative;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            width: 75%;
            left: 12.5%;
            border-top: 1px solid #d6d6d6;
        }
    }

    &__text {
        color: black;
        font-size: 22px;
        position: relative;
        word-break: break-all;
        text-decoration: none;

        &--vertical-center {
            transform: translateY(14%);
            padding-right: 10px;
        }

        &--center {
            text-align: center;
        }

        &--title {
            font-size: 32px;
        }

        &--sub-title {
            font-size: 26px;
        }

        &--normal {
            font-size: 18px;
        }

        &--text-item {
            margin: 0px 10px;
        }

        &--bold {
            font-weight: 600;
        }

        &--require {
            width: fit-content;

            &::after {
                content: "*";
                font-size: 26px;
                position: absolute;
                right: -10px;
                bottom: 0px;
            }
        }

        &--error-code {
            font-weight: 600;
            font-size: 30px;
        }

        &--error-text {
            margin-bottom: 5px;
            margin-top: 15px;
            font-size: 24px;
        }
    }

    &__loading {
        background-color: rgba(105, 105, 105, 0.42);
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 1;
        left: 0;
        top: 0;
        display: flex;

    }

    &__item {
        display: block;
        margin: 10px 0;


        &--border-top {
            border-top: 1px solid;
            padding-top: 15px;
        }

        &--border-bottom {
            border-bottom: 1px solid;
            padding-bottom: 15px;
        }

        &--center {
            justify-content: center;
            display: flex;
        }

        &--inline {
            display: inline-flex;
            flex-wrap: wrap;

        }

        &--full-width {
            width: 100%;
        }

        &--user-edit-mode {
            margin-right: 25px;
            display: inline-block;
            margin-top: 10px;

            @media (max-width:768px) {
                width: 100%;
            }
        }

        &--employe {
            background: #2a3038db;
            width: fit-content;
            padding: 5px 10px;
            border-radius: 7px;
            color: #fff;
            transition: color 0.25s;
            margin-right: 10px;

            &:hover {
                color: #46adf9;
            }
        }

        &--description {
            box-shadow: -1px 3px 20px -8px rgba(0, 0, 0, 0.56);
            -webkit-box-shadow: -1px 3px 20px -8px rgba(0, 0, 0, 0.56);
            -moz-box-shadow: -1px 3px 20px -8px rgba(0, 0, 0, 0.56);
            padding: 15px 15px;
        }
    }

    &__project {
        display: flex;
        padding: 10px 10px;
        word-break: break-word;
        justify-content: space-between;

        &--name {
            width: 250px;
            @media (max-width:501px) {
                width: 100%;

            }
        }

        &--title-name {
            width: 230px;

            @media (max-width:501px) {
                width: 100%;

            }
        }

        &--hours,
        &--hours-dashboard,
        &--employe {
            position: relative;
            width: 130px;
            text-align: right;
            @media (max-width:501px) {
                width: 120px;

            }
        }

        &--hours {
            @media (max-width:720px) {
                display: none;

            }
        }

        &--title-hours {
            width: 150px;
            text-align: right;

            @media (max-width:720px) {
                display: none;
            }
        }

        &--employe {
            width: 300px;
            text-align: right;
        }

        &--employe-short {
            width: 200px;
            text-align: right;
        }

        &--status {
            width: 150px;
            text-align: right;
        }

        &--title-status {
            width: 150px;
            text-align: right;
            padding-right: 10px;
            box-sizing: border-box;
        }

        &--hover {
            cursor: pointer;
            color: black;
            text-decoration: none;

            &:hover {
                background-color: #fbfbfb;
            }
        }

        &--radio {
            visibility: hidden;
        }
    }

    &__input {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        font-size: 22px;
        text-align: center;
        border: 1px solid #cccccc;
        border-radius: 5px;
        height: 40px;
        transition-duration: 0.5s;

        &--add-hours {
            width: 130px;
            margin: 0 10px;
            text-align: left;
            padding: 0 5px;
        }

        &--user-edit {
            text-align: left;
            padding: 0 10px;
            width: 300px;
            margin-top: 5px;
            @media (max-width:768px) {
                width: 100%;
            }
        }

        &--require {
            background-color: #fd7373;
        }

        &--search {
            text-align: left;
            padding: 0 15px;
            margin: 5px 0;
        }

    }

    &__scroll {
        overflow: hidden;
        overflow-y: scroll;
        max-height: 30vh;

    }

    &__radio-button {
        cursor: pointer;
        font-size: 18px;

        &--position {
            display: inline-flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            width: 100%;

            @media (max-width:720px) {
                flex-wrap: wrap;
                display: flex;
                flex-direction: column;
            }

        }

        &:hover {
            color: #3a3838
        }

        &--active {
            color: #31a8ff;
            cursor: default;

            &:hover {
                color: #31a8ff
            }
        }

    }



}