.header {
    $base-text-color: white;
    $base-hover-text-color: #46adf9;
    background-color: black;

    position: fixed;
    height: 70px;


    width: 100%;
    z-index: 6;

    &--wrap {
        justify-content: space-between;
        padding-right: 100px;
        padding-left: 30px;
        display: flex;
        height: 100%;

        @media (max-width:1180px) {
            padding: 0 15px;
        }
    }

    &__lang {
        height: 30px;
        width: 40px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-block;
        cursor: pointer;


        &--flag-pl {
            background-image: url("/ico/flag-pl.svg");
        }

        &--flag-en {
            background-image: url("/ico/flag-en.svg");
        }
    }

    &__home {
        position: relative;
        color: $base-text-color;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        margin-right: 15px;

        &--transition {
            transition: all 0.25s;
        }

        &--hidden-m {
            @media (max-width:768px) {
                display: none;
            }
        }

        &--ico {
            font-size: 32px;
        }

        &--text {
            font-size: 20px;
            padding-left: 10px;
        }

        &--hidden-m {
            @media (min-width:769px) {
                &:hover & {
                    &--text {
                        font-size: 24px;
                    }

                    &--ico {
                        font-size: 36px;
                    }
                }
            }

            &:hover {

                color: $base-hover-text-color;
            }

        }
    }

    &__menu {
        position: relative;

        text-decoration: none;
        display: inline-flex;
        align-items: center;
        &--user-name{
            @media (max-width:500px) {
                display: none;
            }
        }
        &--user-ico{
            font-size: 32px;
            margin-left: 10px;
            @media (min-width:501px) {
                display: none;
            }
            &:hover {

                color: $base-hover-text-color;
            }
        }
    }

    &__item {
        padding: 10px 15px;
    }

    &__text {
        color: $base-text-color;
        font-size: 18px;
        text-decoration: none;
        transition-duration: 0.25s;

        &:hover {

            color: $base-hover-text-color;
        }

        &--link {
            text-decoration: none;
            cursor: pointer;
        }
    }
}