.info-box {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;


    text-align: center;

    animation-name: active;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0, 0, 0.28, 1.0);

    &--fullpage {
        height: 100%;
        width: 100%;
        background-color: #00000085;
        top: 0;
        justify-content: center;
        display: flex;
    }

    &--wrap {
        padding: 10px 15px;
        font-size: 20px;
        text-align: center;

        border-radius: 25px;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        -webkit-box-shadow: -2px 4px 53px -7px rgba(0, 0, 0, 0.56);
        -moz-box-shadow: -2px 4px 53px -7px rgba(0, 0, 0, 0.56);
        box-shadow: -2px 4px 53px -7px rgba(0, 0, 0, 0.56);
        background-color: white;
        color: black;
        display: inline-block;
        position: relative;
        cursor: pointer;
        height: fit-content;
    }

    &__button-inline {
        display: flex;
        justify-content: space-around;
        padding: 10px 0;
    }


    &--confirm {
        cursor: default;
        top: 35%;
        transform: translateY(-50%);
    }

    &--close {
        animation-name: close;

    }

    &__text {
        text-align: center;
        position: relative;
        padding: 0 35px;
    }

    &__close {
        position: absolute;
        right: 27px;
        top: 12px;
    }
}


@keyframes active {
    0% {
        bottom: -180px;
    }

    100% {
        bottom: 40%;
    }
}

@keyframes close {
    0% {
        bottom: 40%;
    }

    100% {
        bottom: -180px;
    }
}